div.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding: 20px;
    border-radius: 20px;
}

div input {
    margin: 20px;
    outline: none;
    border: 1px solid white;
    border-radius: 3px;
}

.trafficLight {
    display: flex;
    width: 300px;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

}

div.trafficLight div {
    width: 80px;
    height: 80px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

div span {
    text-align: center;
    color: gray;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-weight: bold;
}

button#playBtn {
    background-color: green;
    color: white;
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

button#stopBtn {
    background-color: red;
    color: white;
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}