* {
    margin: 0px;
    padding: 0px;
}

.content {
    padding-left: 100px;
    padding-right: 100px;
}

/* Navbar */
div.Navbar {
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px;
    margin-top: 30px;
}

hr {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

div.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.logo img {
    width: auto;
    height: 50px;
    margin-right: 10px;
}

div.Navbar h1 {
    width: 300px;
    align-items: center;
    font-weight: bold;
    font-size: 45px;
    color: #db4444;
}

div.Navbar .links {
    display: flex;
    align-items: center;
    align-self: center;
    justify-items: center;
    justify-content: space-evenly;
    width: 30%;
    margin-right: auto;
}

div.Navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

div.Navbar #homePage {
    text-decoration: underline;
}

div.Navbar a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #db4444;
}

/* Search Container */
.search {
    width: 250px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-right: 300px;
    background-color: white;
    padding: 2px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px black;
}

.search input {
    width: 80%;
    outline: none;
    border: none;
    background-color: white;
}

/* Icons Favorite/Cart */
.icons {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-right: 100px;
}

span.navbarIcon {
    font-size: 40px;
    margin-right: 15px;
    margin-left: 15px;
}

span.navbarIcon:hover {
    cursor: pointer;
}

/* Image Slider */

.imageSlider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.imageSlider img {
    width: 80%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.imageSlider .arrow {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    border: 4px solid #db4444;
}

.imageSlider .arrow:hover {
    background-color: #db4444;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Content */

div.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#startPoint {
    width: 15px;
    height: 35px;
    border-radius: 5px;
    background-color: #db4444;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

div.title span {
    color: #db4444;
    font-weight: bold;
    font-size: 18px;
}

div.categoryContanir {
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

div.categoryContanir div {
    width: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

div.categoryContanir div img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/* categoryProductsContainer */
div.categoryProductsContainer {
    display: flex;
    flex-direction: column;
}

div.Products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.productContainer {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 8px gray;
    margin: 20px;
    padding: 10px;
}

div.productContainer img {
    width: auto;
    height: 100px;
    border-radius: 5px;
}

div.productContainer>span {
    width: auto;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
}

div.productContainer p {
    font-size: 10px;
    height: 50px;
    text-align: center;
    margin: 10px;
}

div.ratingProdact {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

span.checked {
    color: orange;
}

div.productContainer button {
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #db4444;
    border: none;
    color: white;
    opacity: 0.7;
}

div.productContainer button:hover {
    opacity: 1;
}


/* Footer Section*/
div.Footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #465052;
    align-items: center;
    justify-content: space-between;
}

div.Footer div p {
    color: white;
    text-align: center;
    margin: 10px;
}

div.socialIcons {
    display: flex;
    justify-content: space-between;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: #1a1e1f;
    margin: 10px;
}

.icon:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: #db4444;
    margin: 10px;
}

i {
    font-size: 16px;
    color: white;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.topIcon {
    margin-right: 100px;
}

.topIcon .icon {
    width: 30px;
    height: 30px;
}