
{% comment %}
<div class="mb-3">
  <label class="form-label">Num Of Page</label>
  <input class="form-control" type="number" name="pages" aria-label="default input example" required />
</div>
<div class="mb-3">
  <label class="form-label">Price</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="price" aria-label="Amount (to the nearest dollar)" required />
    <span class="input-group-text">$</span>
  </div>
</div>
{% endcomment %}

{% comment %} <div class="mb-3">
  <label for="formFile" class="form-label">Image</label>
  <input class="form-control" type="file" id="formFile" name="image" accept="image/*" required />
</div> {% endcomment %}


{% comment %} src="{{ url_for('static', filename = 'images/book.png') }}" {% endcomment %}

    {% comment %} <div class="mb-3">
        <label for="formFile" class="form-label">Image</label>
        <input class="form-control"  type="file" id="formFile" name="image" accept="image/*" required />
      </div> {% endcomment %}