{% extends 'ecommerce_db_2/main.html' %}
{% load static %}
{% block myContent %}
  <br />
  <div class="ourStoryContect">
    <div class="ourStoryText">
      <div class="title">
        <div id="startPoint"></div>
        <h2>Our Story</h2>
      </div>

      <br />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, nobis nihil ex praesentium excepturi consectetur quos in? Eius facere a quidem nostrum at dolorem voluptatum nulla. Delectus iure laborum ad odit nulla! Vitae corporis non ad rerum ipsa exercitationem corrupti tenetur neque! Voluptate quaerat quia quidem, repellendus, possimus explicabo voluptatum quo fugiat sint dolorem in dignissimos ipsum pariatur aliquid iste! Itaque hic nemo quasi cum beatae optio fugiat, commodi dolorem omnis corporis illo reprehenderit magni eveniet repudiandae necessitatibus? Corporis nostrum, quasi vitae eveniet, iure asperiores explicabo, sed accusantium maxime assumenda tempora delectus rerum non porro dicta numquam itaque at voluptate.</p>
    </div>

    <div class="ourStoryImage">
      <!-- Image Slider -->
      <img id="imageSlider" src="{% static 'images/image1.jpg' %}" alt="image" />
    </div>
  </div>
  <br />
{% endblock %}
