<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.css') }}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          <img src="{{ url_for('static', filename = '/images/book.png') }}" alt="Logo" width="24" height="24" class="d-inline-block align-text-top" />
          Book Store
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('book.add') }}">Add Book</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block content %}

      {% endblock %}
    </div>

    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.js') }}"></script>
  </body>
</html>
